[run]
omit = tests/*, ./venv/*, get-pip.py, fyle_xero_api/*, fyle_integrations_imports/*, *forms.py, *apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py, q_cluster_watcher.py, *settings.py, *gunicorn*,
