[submodule "fyle_integrations_imports"]
	path = fyle_integrations_imports
	url = https://github.com/fylein/fyle_integrations_imports/
[submodule "fyle-integrations-db-migrations"]
	path = fyle-integrations-db-migrations
	url = https://github.com/fylein/fyle-integrations-db-migrations/
