{% if error.type in ['EMPLOYEE_MAPPING', 'CATEGORY_MAPPING'] %}
  <tr>
    <td>Mapping Error</td>
{% elif error.type == 'TAX_MAPPING' %}
  <tr>
    <td>Tax Mapping Error</td>
{% elif error.type == 'XERO_ERROR' %}
  <tr>
    <td>Xero Online Error</td>
{% endif %}
{% set error_type = error.type.lower().title().replace('_', ' ') %}
{% set expense_data = expense_data.append(error_type) %}
{% if error.type == 'XERO_ERROR' %}
  <td>{{ error.error_title }}</td>
  <td>{{ error.error_detail }}</td>
{% else %}
  <td>{{ error_type }}</td>
  <td style="padding-right: 8px">{{ error.error_title }}</td>
{% endif %}
</tr>
